Trabajo2/Trabajo2_Test/Connected Services/EstacionamientoServices/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49848/Dominio/Servicio/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Trabajo2_Model" />
  <xs:import schemaLocation="http://localhost:49848/Dominio/Servicio/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Trabajo2_WCF.Dominio.Interfaz" />
  <xs:element name="ListadoderegistrosenEstacionamientoporrangodefechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaHoraIngreso" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaHoraSalida" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoderegistrosenEstacionamientoporrangodefechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Trabajo2_Model" minOccurs="0" name="ListadoderegistrosenEstacionamientoporrangodefechasResult" nillable="true" type="q1:ArrayOfEstacionamiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoderegistrosenEstacionamientoporprovinciaenqueseencuentraelparqueo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreProvincia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoderegistrosenEstacionamientoporprovinciaenqueseencuentraelparqueoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Trabajo2_Model" minOccurs="0" name="ListadoderegistrosenEstacionamientoporprovinciaenqueseencuentraelparqueoResult" nillable="true" type="q2:ArrayOfEstacionamiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Trabajo2_WCF.Dominio.Interfaz" minOccurs="0" name="composite" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Trabajo2_WCF.Dominio.Interfaz" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>