Topicos.AdventureWorks/AdventureWorks.Tests/Connected Services/SI.Products/MyProducts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyProducts" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56432/Dominio/Servicio/MyProducts.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56432/Dominio/Servicio/MyProducts.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56432/Dominio/Servicio/MyProducts.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Topicos.AdventureWorks.Model" />
      <xsd:import schemaLocation="http://localhost:56432/Dominio/Servicio/MyProducts.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Topicos.AdventureWorks.Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdventureWorksProducts_ListarProductosPorRangoDePrecio_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosPorRangoDePrecio" />
  </wsdl:message>
  <wsdl:message name="IAdventureWorksProducts_ListarProductosPorRangoDePrecio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosPorRangoDePrecioResponse" />
  </wsdl:message>
  <wsdl:message name="IAdventureWorksProducts_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAdventureWorksProducts_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAdventureWorksProducts_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAdventureWorksProducts_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdventureWorksProducts">
    <wsdl:operation name="ListarProductosPorRangoDePrecio">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdventureWorksProducts/ListarProductosPorRangoDePrecio" message="tns:IAdventureWorksProducts_ListarProductosPorRangoDePrecio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdventureWorksProducts/ListarProductosPorRangoDePrecioResponse" message="tns:IAdventureWorksProducts_ListarProductosPorRangoDePrecio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdventureWorksProducts/GetData" message="tns:IAdventureWorksProducts_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdventureWorksProducts/GetDataResponse" message="tns:IAdventureWorksProducts_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdventureWorksProducts/GetDataUsingDataContract" message="tns:IAdventureWorksProducts_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdventureWorksProducts/GetDataUsingDataContractResponse" message="tns:IAdventureWorksProducts_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdventureWorksProducts" type="tns:IAdventureWorksProducts">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProductosPorRangoDePrecio">
      <soap:operation soapAction="http://tempuri.org/IAdventureWorksProducts/ListarProductosPorRangoDePrecio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IAdventureWorksProducts/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IAdventureWorksProducts/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyProducts">
    <wsdl:port name="BasicHttpBinding_IAdventureWorksProducts" binding="tns:BasicHttpBinding_IAdventureWorksProducts">
      <soap:address location="http://localhost:56432/Dominio/Servicio/MyProducts.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>